<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
</head>
<body>

         <div id="app">

            <h1>
                My albums

                <select name="" id="" @change="onSelectChange" v-model="genreToFilter">

                    <option value="">Tutti i generi </option>
                    <option v-for="genre in finalList" value="genre">{{genre}}</option>

                </select>
            </h1>
    
            <div class="albums-container">
                <div class="album" v-for="album in onSelectChange">
                    <!-- copertina -->
                    <img :src="album.poster">
    
                    <!-- Titolo album -->
                    <h3>{{album.title}}</h3>
    
                    <!-- Nome Artista -->
                    <h4>{{album.author}}</h4>
    
                    <!-- Anno album -->
                    <span>{{album.year}}</span>
                </div>
    
               
    
            </div>
    
    
        </div>
    
        <script src="script.js"></script>
</body>
</html>